.titulo-filme h1{
    font-size: 64px;
    font-weight: 900;
    color: #e94435;
    margin-top: 10px;
    margin-bottom: 40px;
}
.capa-imagem{
    width: 300px;
    border-radius: 10px;
    transition: 0.8s;
}
.capa-imagem:hover{
    filter: brightness(100%);
   filter: saturate(1.4);
}
.container-descricao ul li{
    font-size: 14px;
    font-weight: 100;
    color: white;
    margin: 20px 0px;
}
.container-descricao ul li span{
    font-weight: 800;
}

.container-descricao h3, .detalhes-filme h3{
    font-size: 22px;
    margin-bottom: 7px;
    font-weight: 800;
    color: #e94435;
}
.container-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.detalhes-filme{
    margin-left: 20px;
}