* {
  font-family: "Poppins", sans-serif;
}
main {
  background-color: black;
}
body{
  background-color: #000;
}
main h2 {
  position: relative;
  color: white;
  font-size: 36px;
  font-weight: 700;
  margin: 20px 0px;
}
main h2:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 30px;
  left: -20px;
  bottom: 5px;
  background: #e94435;
}
.container-main {
  width: 900px;
  margin: 0px auto;
}
.container-banner {
  float: inline-start;
  width: 100%;
  height: calc(768px - 60px);
}
.container-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.container-text {
  position: absolute;
  width: 430px;
  top: 30%;
  left: 20%;
}
.container-text h1 {
  color: white;
  font-weight: 600;
  font-size: 32px;
  line-height: 3.2rem;
  word-break: break-all;
  transition: 0.7s;
}
.container-text h1:hover {
  text-shadow: 0 0 10px #ff1500;
}

.container-text h1 span {
  font-size: 60px;
  font-weight: 800;
}
.destaque-text {
  color: #e94435;
}

.container-text h1::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 5px;
  left: +2px;
  bottom: 1px;
  background: #e94435;
}

.container-filmes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-filmes ul {
  width: 250px;
  height: 500px;
  transition: 0.7s;
}
.container-filmes ul:hover {
  cursor: pointer;
  width: 252px;
}
.container-filmes ul li:first-child  img{
  width: 100%;
  height: 90%;
  object-fit: cover;
  transition: 0.7s;
}

.container-filmes ul li:first-child img:hover {
  filter: brightness(150%);
  filter: saturate(140%);
}
.container-filmes ul li {
  color: white;
  margin: 6px 0px;
  font-weight: 300;
}
.container-filmes ul li:nth-child(2){
  display: flex;
  justify-content: space-between;
}
.container-filmes ul li span{
  font-weight: 900;
}
.classificacao-filme{
  width: 30px;
}
.container-filmes ul li:nth-child(2) {
  color: #e94435;
  font-size: 20px;
  font-weight: 800;
}
.container-filme{
  margin: 20px 0px;
}